body {
    margin: 0px;
}

.yellowcard {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.yellowcardall {background-color: #ffe627;}

.sponsorscontainer {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    
   
    padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.column {
    float: left;
    width: 50%;
}

table,td,th {
    border: 1px solid rgba(0,0,0,.1)
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%
}

td,th {
    padding: 8px
}

th {
    border-width: 0 1px 1px 0
}

hr {
    background-color: rgba(0,0,0,.1);
    border: 0;
    height: 1px;
    margin-bottom: 40px;
    margin-top: 40px
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none
}

h3 {
    font-size: 29px;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 20px
}

h4,h5,h6 {
    margin-bottom: 20px
}

ol,ul {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ol,li>ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

dt {
    font-weight: 700
}

dd {
    margin: 0 1.5em 1.5em
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

th {
    font-weight: 700
}
